.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
  }
.sidebar-nav .navbar {
  padding-top: 12px;
  padding-bottom: 12px;
  float: none;
  display: block;
  height: 100vh;
  border: 1px solid;
}
.row {
  height: 100%;
}
.nav-tabs {
  float: left;
}
.nav-stacked {
  padding-right: 0;
}
.userPro {
  height: 30px;
  width: 30px;
  float: right;
  justify-content: center;
}

.btn-group {
  float: right;
  width: 60px;
  height: 48px
}
.dropdown-toggle {
  height: 48px;
  width: 60px;
}
.button .btn .btn-default .dropdown-toggle .navButton {
  height: 46px;
  width: 40px;
  background-color: black;
}
.mainDiv {
  width: 100%;
  height: 100%;
  background-size: cover;
  padding-right: 0;
}
